/*VBox {*/
/*    -fx-background-color: #121212;*/
/*}*/

/*Label {*/
/*    -fx-text-fill: #FFFFFF;*/
/*    -fx-font-size: 13px;*/
/*    -fx-font-weight: bold;*/
/*}*/

/*Button {*/
/*    -fx-background-color: #1DB954;*/
/*    -fx-text-fill: #000000;*/
/*    -fx-font-size: 14px;*/
/*    -fx-font-weight: bold;*/
/*    -fx-background-radius: 20;*/
/*    -fx-cursor: hand;*/
/*    -fx-min-width: 200;*/
/*}*/

/*Button:hover {*/
/*    -fx-background-color: #1ED760;*/
/*}*/
/*TextField, PasswordField {*/
/*    -fx-background-color: #181818;*/
/*    -fx-text-fill: white;*/
/*    -fx-border-color: #333333;*/
/*    -fx-border-radius: 8;*/
/*    -fx-background-radius: 8;*/
/*    -fx-padding: 8;*/
/*}*/

/*TextField:focused, PasswordField:focused {*/
/*    -fx-border-color: #1DB954;*/
/*}*/

/*!* Instagram *!*/
/*VBox {*/
/*    -fx-background-color: linear-gradient(*/
/*            to bottom right,*/
/*            #FCAF45,*/
/*            #F77737,*/
/*            #E1306C,*/
/*            #C13584*/
/*    );*/
/*}*/

/*Label {*/
/*    -fx-text-fill: white;*/
/*    -fx-font-size: 13px;*/
/*    -fx-font-weight: bold;*/
/*    -fx-font-family: "Segoe UI", "Arial";*/
/*}*/

/*Button {*/
/*    -fx-background-color: white;*/
/*    -fx-text-fill: #E1306C;*/
/*    -fx-font-size: 14px;*/
/*    -fx-font-weight: bold;*/
/*    -fx-background-radius: 20;*/
/*    -fx-cursor: hand;*/
/*}*/

/*Button:hover {*/
/*    -fx-background-color: #FAFAFA;*/
/*}*/
/*TextField, PasswordField {*/
/*    -fx-background-color: rgba(255, 255, 255, 0.9);*/
/*    -fx-text-fill: #262626;*/
/*    -fx-border-color: transparent;*/
/*    -fx-background-radius: 8;*/
/*    -fx-padding: 8;*/
/*}*/

/*TextField:focused, PasswordField:focused {*/
/*    -fx-background-color: white;*/
/*}
*/

/*!* Tiktok *!*/

VBox {
    -fx-background-color: #010101;
}

Label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

Button {
    -fx-background-color: linear-gradient(
            to right,
            #25F4EE,
            #FE2C55
    );
    -fx-text-fill: #010101;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 20;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, #25F4EE, 10, 0.3, 0, 0);
}

Button:hover {
    -fx-opacity: 0.9;
}
TextField, PasswordField {
    -fx-background-color: #121212;
    -fx-text-fill: white;
    -fx-border-color: #25F4EE;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 8;
}

TextField:focused, PasswordField:focused {
    -fx-border-color: #FE2C55;
}

